<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hospital.adapt.mapper.remote.RbnRoomMapper">
    <resultMap type="com.hospital.adapt.model.remote.RbnRoom" id="rbnRoomMap">

    </resultMap>

    <select id="queryByParam" parameterType="com.hospital.adapt.model.common.MyPage" resultMap="rbnRoomMap">
        select * from his.v_hospital_room_info
        <where>
            1=1
            <if test='params.ward_code != null and params.ward_code != ""'>
                and ward_code = #{params.ward_code}
            </if>
        </where>
        order by ward_code asc, room_name asc
    </select>

    <select id="queryAll" resultMap="rbnRoomMap">
        select * from his.v_hospital_room_info order by ward_code asc, room_name asc
    </select>
</mapper>